__pycache__/

# Large data from CSRankings (not needed for the website)
dblp.xml.gz
csrankings.py
sigcse-research-articles.csv
iclr.csv
faculty_iclr_details.csv
faculty_iclr_top10.csv
institute_adjusted_details.csv
institute_adjusted_ranked.csv
can_names.csv
candidate_iclr.csv
iclr_points_report.csv
test.py
